.row
  .span3
    %h1.well
      Menu Bar on the Left

  .span9
    %h1.well
      What is it?
    =render 'what'


    %h1.well
      Why should I join?
    =render 'why'
      
    %h1.well
      Does it cost anything?
    =render 'cost'