.row
  .span3
    =render 'left_nav'
      
  .span9
    #what
      %h1
        What is it?
      .well
        =render 'what'

    #why
      %h1
        Why should I join?
      .well
        =render 'why'
            
    #cost  
      %h1
        Does it cost anything?
      .well
        =render 'cost'